*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    flex-direction: column;
}
.profile{
    height: auto;
    flex-direction: column;
    cursor: default;
    padding: 10px;
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.info{
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.199);
    font-size: 1.0rem;
    line-height: 1.8;
}
.slackName{
    font-size: 1.6rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.githubURL{
    color: rgb(24, 140, 163);
}



/* reusable */
.flex{
    display: flex;
}
a{
    text-decoration: none;
}

@media screen and (min-width: 600px){
    .profile{
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        gap: 10px;
    }
    .info{
        width: 50%;
        font-size: 0.9rem;
        line-height: 1.8;
    }
}
@media screen and (min-width: 800px){
    .profile{
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }
     .info{
        font-size: 1.1rem;
        padding-left: 70px;
    }
    .slackName{
        font-size: 2.0rem;
    }
}